body {background-color: rgb(97, 150, 180);
}
#container {
    display:flex;
}
.cartão{
    margin: 1rem 1rem;
    background-color: aqua;
    height: 20rem;
     flex-grow: 1;
    flex-basis: calc(33%-6rem);
}


